body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: $fontdefault;
  color: $withe;
}

h1,h2,h3,h4,h5,h6,{  font-weight: 500;}

.col img {
    width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header{
  & .header_top {
    background: $indigo;
    display: block;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    & .row{
      margin-bottom: 0px;
    }
  }
}

main {
  flex: 1 0 auto;
}
header {
    z-index: 1;
}
nav{
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 70px;
  padding: 5px;
  & ul{
    & li{
      color: $indigo;
    }
    & li a{
      color: $indigo;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
#sidenav-overlay {
    z-index: 0;
}

.header_social{
  text-align: right;
  & a{
    color: $withe;
    transition: .2s ease-out;
    &:hover{ color: $orange;}
  }
}

.parallax-container{
    height: 80vh;
    & h1{
      font-size: 3.4rem;
    }
    & a{
      margin-top: 10%;
    }
}

.parallax-container.second-parallax{
    height: 40vh;
    margin-top: 50px;
    & .section{
      text-align: center;
    }
}

.home__overlay_pattern {
    background-image: url(../img/pattern.png);
    filter: alpha(opacity=40);
    height: 100%;
    left: 0;
    opacity: .9;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 0;
}

.section.no-pad-bot {
    padding-top: 25vh;
    position: absolute;
    width: 100%;
}

.section-module{
  display: block;
  padding-top: 50px;
  color: $indigo;
    & h3{
      font-size: 1.92rem;
      color: $orange;
      margin: 0;
    }
    & h4{
      font-size: 1.2em;
      color: $indigo;
      margin: 0;
    }
}

.project-full_width_module{
  & h3{
    text-align: center;
  }
}

.full_width_grey_module {
    background-color: #edeeef;
    padding: 30px;
    & h4{
      font-size: 1.4em;
      color: $orange;
      margin: 0;
    }
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: $indigo;
}

.footer-copyright {
  font-size: 16px;
}

.footer__icons {
    text-align: right;
    & a{
      color: $withe;
      transition: .2s ease-out;
      &:hover{ color: $orange;}
    }
}

/*ICONS*/

.icon{
  color: $withe;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  text-align: center;
  margin-right: 2%;
  & i{
    font-size: 2.8em;
    padding-top: 25%;
  }
}
.i-bg-orange{
  background-color: $orange
}
.i-bg-blue{
  background-color: $indigo
}


@media (max-width: 767px) {

}

@media (max-width: 480px) {
  .parallax-container{
    & h1{
      font-size: 2.3em;
    }
    & h5{
      font-size: 1.5em;
    }
  }
.parallax-container.second-parallax{
    height: 45vh;
    & h2{
      font-size: 2.3em;
    }
    & h3{
      font-size: 1.5em;
    }
  }

}
