/*>> 2. PRELOADER **/
#prelaoder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #213b4d;
  z-index: 1000;
}
.spinner {
  position: fixed;
  width: 100%;
  top: 70%;
  height: 30px;
  text-align: center;
  font-size: 10px;
  border-radius: 50%;
  border: 5px dotted white;
}
.spinner,
.spinner-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 3px dotted white;
  margin: auto;
}
.spinner {
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2.2s linear 0s infinite normal;
  -moz-animation: spin 2.2s linear 0s infinite normal;
  animation: spin 2.2s linear 0s infinite normal;
}
.spinner-inner {
  width: 40px;
  height: 40px;
  -webkit-animation: spinback 1.2s linear 0s infinite normal;
  -moz-animation: spinback 1.2s linear 0s infinite normal;
  animation: spinback 1.2s linear 0s infinite normal;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinback {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spinback {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spinback {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
